body {
  background-color: rgb(241, 154, 187);
}

h1 { 
  margin: 30px; 
  font-family: "Lobster", cursive; 
  text-shadow: 5px 0 #a78397; 
  font-size: 4.5rem; 
  color: #e6388f; 
  text-align: center; 
} 